:root {
  --font-heading: SFPro;
  --font-body: SFPro;
  --space-1: 2px;
  --space-2: 3px;
  --space-3: 5px;
  --space-4: 8.4px;
  --space-5: 10px;
  --space-6: 14px;
  --space-7: 15px;
  --space-8: 16px;
  --space-9: 17px;
  --space-10: 20px;
  --space-11: 29px;
  --space-12: 30px;
  --space-13: 31px;
}
